@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** Header Section **/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(217, 28%, 15%);
  padding: 5%;
}

.header-logo {
  max-width: 25%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  flex-grow: 2;
  text-align: right;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li.head {
  display: inline-block;
  padding: 0 0 0 5%;
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
}

/** Illustration Section **/
.wave-mobile {
  position: absolute;
  top: 43%;
  width: 100vw;
  z-index: 1;
}

.wave-img {
  width: 100%;
  height: auto;
}

.illustration-container {
  display: flex;
  flex-direction: column;
  padding: 15% 5% 0 5%;
  background: rgb(28,36,49);
  background: linear-gradient(180deg, rgba(28,36,49,1) 66%, rgba(24,31,42,1) 34%);
}

.illustration {
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
}

.illustration-heading {
  z-index: 1;
}

.illustration-button {
  padding: 4% 0 5% 0;
}

button {
  padding: 4% 20% 4% 20%;
  border: 0;
  border-radius: 35px 35px 35px 35px;
  background: rgb(101,226,217);
  background: linear-gradient(144deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 70%); 
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
  line-height: 1.2em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
  line-height: 1.2em;
}

p {
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  line-height: 1.7em;
}

/** Advantages Section **/

.adv-l::before {
  content: "";
  display: block;
  background-image: url("./bg-curvy-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: calc(0.376 * 100vw);
  top: -220px;
  position: relative;
  flex-shrink: 0;
}

.adv-l {
  margin: -40% 0 0 0;
  height: fit-content;
}

.advantage-list-container {
  padding: 20% 6% 0 6%;
  background-color: hsl(218, 28%, 13%);
}

.advantage-container {
  padding: 0 0 20% 0;
}

.adv-conc-container {
  background-color: hsl(218, 28%, 13%);
  padding: 5% 6% 10% 6%;
  text-align: left;
}

.adv-conc-illustration {
  padding: 0 0 6% 0;
}

/** Quotes Section **/
.quote-list-container {
  background-color: hsl(218, 28%, 13%);
  padding: 5% 6% 10% 6%;
}

.quote-container {
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
  padding: 6% 6% 6% 6%;
  margin: 5% 0 5% 0;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr) repeat(3, 0.1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.quote-p {
  font-size: 0.9em;
}
  
.quote-text { 
  grid-area: 1 / 1 / 2 / 7;
  padding: 0 0 2% 0;
}

.quote-image {
  grid-area: 2 / 1 / 4 / 3;
  max-width: 50%;
}

.quote-img {
  border-radius: 50%;
}

.quote-name { 
  grid-area: 2 / 2 / 3 / 6;
  padding: 5% 0 0 10%;
}

.quote-title { 
  grid-area: 3 / 2 / 4 / 6; 
  padding: 5% 0 5% 10%;
} 

h3 {
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 0.8em;
  margin: 0;
}

h4 {
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 0.7em;
  font-weight: 500;
  margin: 0;
}

/** Footer Section **/
footer {
  background: rgb(24,31,42);
  background: linear-gradient(180deg, rgba(24,31,42,1) 25%, rgba(11,21,35,1) 25%);
  padding: 12% 5% 12% 5%;
}

.subscribe-box {
  background-color: hsl(217, 28%, 15%);
  padding: 10% 5% 10% 5%;
  margin: 0 0 10% 0;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 0px #00000073; 
  box-shadow: 5px 5px 15px 0px #00000073;
}

input {
  padding: 4% 6% 4% 6%;
  border: 0;
  border-radius: 35px 35px 35px 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  width: 70%;
}


.sub-h {
  margin: 0;
}

.sub-p {
  margin: 0;
}

.subscribe {
  padding: 5% 0 5% 0;
}

.footer-container {
  display: flex;
  justify-content: left;
  padding: 5% 0 0% 0;
}

.footer-svg-container {
  display: flex;
  justify-content: left;
  padding: 10% 0 8% 0;
}

.footer-img-cont {
  min-width: 15px;
  max-width: 25px;
  padding: 0 5% 0 0;
}

.footer-img {
  width: 100%;
}

.footer-text {
  text-align: left;
  padding-left: 10px;
}

.foot {
  padding: 5% 0 0 0;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
}

@media only screen and (min-width: 414px) {
  .adv-l::before {
    content: "";
    display: block;
    background-image: url("./bg-curvy-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(0.376 * 100vw);
    top: -220px;
    position: relative;
    flex-shrink: 0;
  }
  
  .adv-l {
    margin: -45% 0 0 0;
    height: fit-content;
  }

  .illustration-container {
    display: flex;
    flex-direction: column;
    padding: 8% 5% 0 5%;
    background: rgb(28,36,49);
    background: linear-gradient(180deg, rgba(28,36,49,1) 65%, rgba(24,31,42,1) 65%);
  }
}

@media only screen and (min-width: 800px) {
  .adv-l::before {
    content: "";
    display: block;
    background-image: url("./bg-curvy-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(0.376 * 100vw);
    top: -220px;
    position: relative;
    flex-shrink: 0;
  }
  
  .adv-l {
    margin: -45% 0 0 0;
    height: fit-content;
  }

  .illustration-container {
    display: flex;
    flex-direction: column;
    padding: 8% 5% 0 5%;
    background: rgb(28,36,49);
    background: linear-gradient(180deg, rgba(28,36,49,1) 70%, rgba(24,31,42,1) 70%);
  }
}

@media only screen and (min-width: 1000px) {
  .adv-l::before {
    content: "";
    display: block;
    background-image: url("./bg-curvy-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(0.376 * 100vw);
    top: -205px;
    position: relative;
    flex-shrink: 0;
  }
  
  .adv-l {
    margin: -45% 0 0 0;
    height: fit-content;
  }

  .illustration-container {
    display: flex;
    flex-direction: column;
    padding: 8% 5% 0 5%;
    background: rgb(28,36,49);
    background: linear-gradient(180deg, rgba(28,36,49,1) 70%, rgba(24,31,42,1) 70%);
  }
}

button {
  padding: 20px 80px 20px 80px;
  border: 0;
  border-radius: 35px 35px 35px 35px;
  background: rgb(101,226,217);
  background: linear-gradient(144deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 70%); 
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

@media only screen and (min-width: 1200px) {
  
/** Header Section **/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(217, 28%, 15%);
  padding: 2% 5% 2% 5%;
}

.header-logo {
  max-width: 25%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  flex-grow: 2;
  text-align: right;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li.head {
  display: inline-block;
  padding: 0 0 0 5%;
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
}

/** Illustration Section **/
.wave-mobile {
  display: none;
  visibility: hidden;
}

.wave {
  position: absolute;
  width: calc(100vw - (100vw - 100%));
  z-index: 1;
  height: 1000px;
  
}

.spacer {
  padding: 20% 0 0 0;
}

.wave-inner {
  position: absolute;
  top: 700px;
  width: calc(100vw - (100vw - 100%));
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  offset-anchor: 100% 100%;
}

.wave-img {
  position: relative;
  width: 100%;
  height: auto;
}

.wave-img-m {
  display: none;
  visibility: hidden;
}

.illustration-container {
  display: flex;
  flex-direction: column;
  padding: 6% 5% 0 5%;
  background: hsl(217, 28%, 15%);
}

.illustration {
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
}

.illustration-heading {
  z-index: 1;
  padding: 0 25% 0 25%;
}

.illustration-text {
  z-index: 1;
  padding: 0 25% 0 25%;
}

.illustration-button {
  padding: 4% 0 5% 0;
  z-index: 1;
}

button {
  padding: 20px 0 20px 0;
  border: 0;
  border-radius: 35px 35px 35px 35px;
  background: rgb(101,226,217);
  background: linear-gradient(144deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 70%); 
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  width: 250px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
  line-height: 1.2em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
  line-height: 1.2em;
}

p {
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  line-height: 1.7em;
}

/** Advantages Section **/

.adv-l::before {
  content: "";
  display: block;
  background-image: url("./bg-curvy-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(100vw - (100vw - 100%));
  height: calc(0.3118 * 100vw);
  top: 100px;
  position: relative;
  flex-shrink: 0;
}

.adv-l {
  margin: -32% 0 0 0;
  height: fit-content;
}

.advantage-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 12% 16% 0 16%;
  background: rgb(28,36,49);
  background: linear-gradient(180deg, rgba(28,36,49,1) 100px, rgba(24,31,42,1) 100px);
  z-index: 2;
}

.advantage-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95px;
}

.advantage-container {
  max-width: 30%;
  padding: 0 0 8% 0;
  margin: 0 2% 0 2%;
}

.adv-conc-container {
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(218, 28%, 13%);
  padding: 5% 10% 10% 10%;
  text-align: left;
}

.adv-conc-text-container {
  max-width: 30%;
  padding: 5% 0 0 0;
}

.adv-conc-illustration {
  padding: 0 0 2% 0;
}

/** Quotes Section **/
.quote-list-container {
  display: flex;
  background-color: hsl(218, 28%, 13%);
  padding: 0 10% 2% 10%;
}

.quote-container {
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
  padding: 1% 2% 1% 2%;
  margin: 2% 2% 0 2%;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr) repeat(3, 0.1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.quote-p {
  font-size: 1em;
}
  
.quote-text { 
  grid-area: 1 / 1 / 2 / 7;
  padding: 0 0 2% 0;
}

.quote-image {
  grid-area: 2 / 1 / 4 / 3;
  max-width: 50%;
}

.quote-img {
  border-radius: 50%;
}

.quote-name { 
  grid-area: 2 / 2 / 3 / 6;
  padding: 5% 0 0 10%;
}

.quote-title { 
  grid-area: 3 / 2 / 4 / 6; 
  padding: 5% 0 5% 10%;
} 

h3 {
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  margin: 0;
}

h4 {
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
  font-weight: 500;
  margin: 0;
}

/** Footer Section **/
footer {
  background: rgb(24,31,42);
  background: linear-gradient(180deg, rgba(24,31,42,1) 34%, rgba(11,21,35,1) 34%);
  padding: 5% 5% 2% 5%;
}

.subscribe-box {
  background-color: hsl(217, 28%, 15%);
  padding: 2% 10% 2% 10%;
  margin: 0 20% 5% 20%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 0px #00000073; 
  box-shadow: 5px 5px 15px 0px #00000073;
}

.subscribe-large {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input {
  padding: 20px 0px 20px 10px;
  border: 0;
  border-radius: 35px 35px 35px 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  width: 250px;
}

.footer-large {
  display: flex;
  justify-content: space-around;
  padding: 0 5% 0 5%;
}

.sub-h {
  margin: 0;
}

.sub-p {
  margin: 0;
}

.subscribe {
  padding: 2% 2% 2% 2%;
}

.footer-container {
  display: flex;
  justify-content: left;
  padding: 0% 0 0% 0;
  margin: 0 5% 0 5%;
}

.footer-svg-container {
  display: flex;
  justify-content: left;
  padding: 0% 0% 2% 10%;
}

.footer-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  max-width: 25px;
  padding: 0 5% 0 0;
}

.footer-img {
  width: 100%;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 10px;

}

.contact-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foot {
  padding: 20% 0 0 0;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 100%);
}
}